<div class="animated fadeInLeft mt-5  mb-5 row">


  <div class="col-sm-12">
    <h1 class="text-center">Información abierta</h1>
  </div>

  <div class="col-sm-12 mt-5">

  <div id="accordion" class="container">

    <ng-container *ngFor="let doc of info; let i = index">

      <div class="card mt-3 mt-b3">
        <div class="card-header" id="{{'heading' + i}}">
          <h5 class="title mb-0">
            {{doc.name}}
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
              <i class="mdi mdi-arrow-down mdi-24px"></i>
            </button>
          </h5>
        </div>

        <div id="{{'collapse' + i}}" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#accordion">
          <div class="card-body">
            <a *ngFor="let btn of doc.documents" class="mt-2 mb-2 btn btn-primary" href="{{btn.location}}" role="button">{{btn.name}}</a>
          </div>
        </div>

      </div>

    </ng-container>

    </div>
  </div>


</div>
