.btn-primary{
  background-color:#fb8c00 !important;
  display:inline !important;
  width:auto;
  height: auto;
  border-radius:5px;
  border:1px solid white;
  float:left;
  position:relative;
  clear:both;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 760px) {
  .btn {
    font-size: 0.7em;
  }
}
