<div class="mb-5 mt-5 row">
  <div class="col-sm-12">
    <img style="display:block;" class="mx-auto" src="../assets/mock-img-6.jpg" alt="">
  </div>
</div>

<div class="mx-auto mb-5 mt-5 accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h3 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Historia
        </button>
      </h3>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p class="text-justify lead">

          Históricamente, el crecimiento económico de la cabecera municipal de Morales, arrancó a partir de las instalaciones de las oficinas de la UFCO (United Fruit Company) en la Finca Bananera, como cabecera municipal.

          El municipio de Morales está constituido principalmente por habitantes ladinos o meztisos, quienes se asentaron a lo largo de la línea férrea, tal como otros municipios de Izabal y de los departamentos de Zacapa y El Progreso por mencionar algunos, y fue poblándose con personas que viajaban para trabajar en la UFCO.

        </p>
      </div>
    </div>

  </div>


  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Sabías que…?
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="text-justify list-group-item">La cabecera municipal de Morales está dividida en dos grandes sectores: Morales y Bananera, la cual era el centro operacional de la United Fruit Company.</li>
          <li class=" text-justify list-group-item">Cuenta con varias comunidades vegetales, animales y microorganismos. Dentro de los cuales podemos encontrar bosques de coníferas (pinos) y latífoliados, y podemos encontrar variedad de gramíneas de pastoreo directo, de corte y arbustos. Existen aves de corral, aves exóticas, ganado vacuno, serpientes y gran variedad de insectos.</li>
          <li class="text-justify list-group-item">El municipio de Morales, en Izabal, es uno de los municipios más caudalosos de Guatemala, con una cantidad de ríos, riachuelos, zanjas.</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Datos Generales
        </button>
      </h5>
    </div>


    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">


        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Etimología</th>
              <td>El municipio fue nombrado en honor al licenciado y coronel Próspero Morales, quien fungió como ministro de la Guerra y de Fomento del presidente José María Reina Barrios entre 1892 y 1898</td>
            </tr>
            <tr>
              <th scope="row">Distancia a Ciudad de Guatemala:</th>
              <td>248 Km</td>
            </tr>
            <tr>
              <th scope="row">Distancia a la cabecera:</th>
              <td>62 Km</td>
            </tr>
            <tr>
              <th scope="row">Fecha de fundación:</th>
              <td>Jueves, 10 de Diciembre de 1908</td>
            </tr>
            <tr>
              <th scope="row">Patrono</th>
              <td>San José</td>
            </tr>
            <tr>
              <th scope="row">Clima</th>
              <td>Cálido</td>
            </tr>
            <tr>
              <th scope="row">Población</th>
              <td>85,469</td>
            </tr>

            <tr>
              <th scope="row">Superficie</th>
              <td>1,295 km²</td>
            </tr>

            <tr>
              <th scope="row">Altitud</th>
              <td>50 metros por encima del nivel maritimo</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>


  </div>
</div>

<div class="mt-5 row">
  <div class="col-sm-12 col-md-6">
    <h2 class="text-center">¿Cómo llegar?</h2>
  </div>
  <div class="col-sm-12 col-md-6">
    <p class="text-justify">
      De la cabecera en la margen oeste del río Motagua por camino de revestimiento suelto rumbo norte, 4 km. Al entronque con la carretera Interoceánica CA-9, que al noreste tiene unos 50 km. a la cabecera departamental Puerto Barrios.
      Se comunica con la cabecera departamental y el municipio de Los Amates por la Ruta CA-9, al municipio de El Estor por la Ruta CA-13, y al municipio de Livingston por la Ruta CA-9 llegando a Puerto Barrios, más 33 Kms. vía acuática.
    </p>
  </div>

  <div class="mt-5 mb-5 col-sm-12">
    <img class="mx-auto" id="maps" src="../assets/mock-maps.png" alt="">
  </div>
</div>
