#logo{
  width:70px;
  height:70px;
}

nav{
  background-color:#0277bd !important;

}

nav > a{
  background-color:#0277bd !important;
  color:white;
}

.dropdown-menu{
  background-color:#eceff1 !important;
}

.dropdown-menu a{
  color:black !important;
}

.active{
  background-color:#039be5;
}
