<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
<!-- Logo  -->
  <a class="navbar-brand" routerLink="/home">
    <img id="logo" src="../assets/logo.png" alt="Logo Municipalidad">

  </a>

  <!-- Hamburguer Icon -->
  <button id="hamb" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navigation wrapper -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- List of Items -->


    <ul class="navbar-nav ml-auto">

      <!-- Open Government button dropdown -->

      <li class="nav-item dropdown">
        <a class="text-white nav-link dropdown-toggle"
          href="#" id="openGov"
          role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="mdi mdi-braille mdi-24px"></i> Información Pública
        </a>

        <!-- Open Gov dropdown Menu -->
        <div class="dropdown-menu" aria-labelledby="OpenGov">
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" routerLink="/informacionabierta">Archivos</a>
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" routerLink="/servicios">Servicios</a>
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" routerLink="/noticias">Noticias</a>
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" routerLink="/cursos">Cursos</a>
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" routerLink="/vume">VUME</a>
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" routerLink="/balastados">Balastados</a>
        </div>

      </li>

      <!-- Projects dropdown button -->

      <li class="nav-item dropdown">
        <a class="text-white nav-link dropdown-toggle"
          href="#" id="projects"
          role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="mdi mdi-clipboard-text mdi-24px"></i> Proyectos
        </a>

        <!-- Projects dropdown Menu -->
        <div class="dropdown-menu" aria-labelledby="projects">
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" [routerLinkActive]="active" [routerLink]="[ 'proyectos' , { outlets: { second: 'ejecutados' } }]"><i class="mdi mdi-folder-multiple mdi-24px"></i> Ejecutados</a>
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" [routerLinkActive]="active" [routerLink]="[ 'proyectos' , { outlets: { second: 'ejecucion' } }]"><i class="mdi mdi-folder-clock mdi-24px"></i> En Ejecución</a>
          <a (click)="fixNav()" class="text-white dropdown-item" [routerLinkActive]="['active']" [routerLinkActive]="active" [routerLink]="[ 'proyectos' , { outlets: { second: 'planificados' } }]"><i class="mdi mdi-folder-upload mdi-24px"></i> En Planificación</a>
        </div>

      </li>

      <li class="nav-item">
        <a (click)="fixNav()" class="text-white nav-link" [routerLinkActive]="['active']" routerLink="/tumuni"><i class="mdi mdi-office-building mdi-24px"></i> Tu Municipalidad</a>
      </li>

      <li class="nav-item">
        <a (click)="fixNav()" class="text-white nav-link" [routerLinkActive]="['active']" routerLink="/consultas"><i class="mdi mdi-cards-outline mdi-24px"></i> Remisiones</a>

      </li>
      <li class="nav-item">
        <a (click)="fixNav()" class="text-white nav-link" [routerLinkActive]="['active']" routerLink="/ingreso"><i class="mdi mdi-account mdi-24px"></i> Ingreso</a>
      </li>


    </ul>


  </div>
</nav>
