.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 95vw;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100vw;
    }
    h1 {
        font-size:2.5em;
    }
}
