.projects-nav{
  width:100%;
  height:60px;
  background-color:#c8e6c9;
  vertical-align:middle;
  text-align:center;
}

.index-projects{

}

.index-projects h1{
  text-align:center;
}

.img-banner{
  margin-left:auto;
  margin-right:auto;
}
