<div class="animated fadeInLeft mt-5  mb-5 row">

  <div class="col-sm-12">
    <h1 class="text-center">Servicios</h1>
  </div>

  <div class="col-sm-12 mt-5">

  <div id="accordion" class="container">


    <ng-container *ngFor="let service of services; let i = index">

      <div #refEl class="card mt-3 mt-b3">
        <div class="card-header" id="{{'heading' + i}}">
          <h5 class="title res-text mb-0">
            {{service.title}}
            <button #title class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + i" [attr.aria-expanded]="'false'" [attr.aria-controls]="'collapse' + i">
              <i class="mdi mdi-arrow-down mdi-24px"></i>
            </button>
          </h5>
          <i (click)="printPDF(refEl, title, content)" class="print mdi mdi-printer mdi-24px"></i>
        </div>


        <div id="{{'collapse' + i}}" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#accordion">
          <div id="{{'snapshot' + i}}" class="card-body">

            <ul #content class="list-group">
              <li  *ngFor="let req of service.requirements" class="list-group-item">{{req}}</li>

            </ul>

          </div>
        </div>

      </div>

    </ng-container>

    </div>
  </div>


</div>
