

<div class="animated fadeInLeft mt-5 mb-5 container">
    <div  class="row">

        <div class="col-md-6 jasgrid">

        <ng-container *ngFor="let n of news; let e=even; let i = index" >

            <div *ngIf="e" class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">{{n.depto}}</a>
                    </span>
                    <h1 class="post-title">
                        <a class="res-txt" [routerLink]="['/noticias', i]">
                            {{n.title}}
                        </a>
                    </h1>
                    <span class="meta">

                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="{{n.src}}" alt="City in the sky: world's biggest hotel to open in Mecca"
                class="">
            </div>

        </ng-container>

        </div>

        <div class="col-md-6 jasgrid">

          <ng-container *ngFor="let n of news; let o=odd; let i = index" >

            <div *ngIf="o" class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">{{n.depto}}</a>
                    </span>
                    <h1 class="post-title">
                        <a class="res-txt" [routerLink]="['/noticias', i]">
                            {{n.title}}
                        </a>
                    </h1>
                    <span class="meta">

                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="{{n.src}}" alt="'This design is total rubbish': Preston's majestic bus station gets a zombie makeover"
                class="">
            </div>

          </ng-container>


        </div>


    </div>

</div> <!-- /container -->
