

<div class="mt-5 col-sm-12">
  <h1 class="font-baloo text-center">Municipalidad de Morales</h1>
  <h5 class="text-center mt-3">Barrio Los Castro, Frente al Parque Municipal</h5>
  <h5 class="text-center mb-3">Municipio de Morales, Departamento de Izabal</h5>
</div>
<div class="col-sm-12">
  <img id="logo-carousell" src="../assets/logo.png" alt="">
</div>


<app-banners></app-banners>

<app-info-board></app-info-board>

<div class="row mt-5">

  <div class="mt-5 col-sm-12">
    <h1 class="text-center">Equipo Municipal</h1>
    <img id="consejo" src="../assets/concejo-municipal.png" alt="Consejo Municipal">
  </div>



  <div class="mt-5 col-sm-12 col-md-6">
    <h3 class="text-center">Misión</h3>
    <blockquote class="blockquote">
      <p class="text-justify mb-0">"En el 2016, el Gobierno Municipal de Morales, Izabal habrá propiciado las condiciones iniciales indispensables para generar el desarrollo humano sostenible y sustentable dentro de su territorio, sobre la base de una eficiente y eficaz prestación de servicios públicos y administrativos que le permitirá constituirse en el eje articulador del desarrollo socio-económico de la región".</p>
    </blockquote>
  </div>

  <div class="mt-5 col-sm-12 col-md-6">
    <h3 class="text-center">Visión</h3>
    <blockquote class="blockquote">
      <p class="text-justify mb-0">"Somos un gobierno representativo de los sectores ciudadanos del municipio de Morales con múltiples requerimientos, en facilitar las herramientas y mecanismos para optimizar su calidad de vida; siendo un equipo comprometido y responsable que brinda soluciones eficientes y eficaces para cumplir con el mandato popular".</p>
    </blockquote>
  </div>

</div>


<!-- Events calendar -->
<div class="mt-3 mb-3 row">
  <div class="col-sm-12">
    <h1 class="text-center">Calendario de Eventos</h1>
  </div>
</div>
<app-events></app-events>

<app-youtube></app-youtube>
