
<div class="animated fadeInLeft container">

  <div class="jumbotron">
    <div class="col-sm-12">
      <img id="logo-form" class="mx-auto" src="../assets/logo.png" alt="">
    </div>

    <div class="col-sm-12">
  <div class="inlining-form">
      <form class="mx-auto form-remision ">


        <div class="mx-auto form-group ">
          <select class="form-control form-control-sm">
            <option>P</option>
            <option>C</option>
            <option>A</option>
            <option>M</option>
            <option>CD</option>
            <option>CC</option>
            <option>DIS</option>
            <option>TC</option>
            <option>O</option>
            <option>U</option>
            <option>MI</option>
            <option>STP</option>
            <option>TRC</option>
            <option>PNC</option>
          </select>
        </div>


        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Número de Placa</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Número de Placa">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Ingresar Placa</button>
      </form>
</div>
    </div>


  </div>

</div>
